:root {
  --yf-text-color: #232323;
  --yf-text-color-caption: #787878;
  --yf-text-size: 1em;
  --yf-text-alert-color: #b60c0c;
  --yf-bg-caption: #efefef;
  --yf-selected: #ebffcc;
  --yf-selected-border: #bde188;
  --yf-hover: #cdff82;
}